* {
  box-sizing: border-box;
}
html {
  height: 100vh;
}
body {
  min-height: 100%;
  margin: 0 20px;
}

#menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#start {
  position: relative;
  top: 350px;
  left: 365px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
  line-height: 20px;
  font-size: 35px;
  width: 450px;
  height: 270px;
  transition-duration: 0.3s;
  background-color: white;
}

#start:hover {
  background-color: #4caf50;
  color: white;
  cursor: not-allowed;
}

#questionnumber {
  font-family: 'Turret Road', cursive;
  font-weight: 600;
  display: contents;
  position: absolute;
  top: 7%;
  left: 85px;
  font-size: 50px;
  color: red;
  text-align: left;
  display: inline-block;
}

#question {
  display: inline-block;
  width: 1200px;
  height:200px;
  position: relative;
  top: -30px;
  left: 60px;
  text-transform: uppercase;
  color: orange;
  font-family: "Segoe Script";
  text-align: center;
}

/* #pglayout  */
#root {
  display: flex;
  position: relative;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  margin: 50px;
}

#Ansboxes {
  width: 100%;
}

.Ansbox {
  width: 800px;
  height: 100px;
  color: red;
  font-size: 30px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border: 1.5px solid #4caf50;
  cursor: not-allowed;
  background-color: lightgray;
}

.layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-container {
  min-width: 95%;
  position: absolute;
  top: 89%;
  display: flex;
  justify-content: space-between;
}

#lives {
  font-family: 'Turret Road', cursive;
  font-weight: 600;
  position: relative;
  left: 200px;
  font-size: 50px;
  color: red;
  /* text-align: left; */
  /* display: contents; */
  margin: 0;
  /* justify-content: flex-start; */
}

.hidden{
  visibility: hidden;
}

.show{
  display: inline-block;
  position: relative;
  top: -130px;
  right: 345px;
  color: red;
  font-size: 50px;
  background-color: black;
}

#skips {
  font-family: 'Turret Road';
  font-weight: 600;
  font-size: 50px;
  color: red;
  cursor: pointer;
  margin: 0;
  right: 30px;
}


/* #lives {
  position: relative;
  display: inline-block;
  cursor: pointer;
} */

/* #lives .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

#lives .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
*/
.popup {
  position: absolute;
  /* border: 1px solid red; */
  width: 120px;
  height: 30px;
  bottom: 120%;
  text-align: center;
  font-size: 30px;
  color: red;
  animation: fadeIn ease-out 1s forwards;
  /* animation-fill-mode: forwards; */
}

@keyframes fadeIn {
  to {
      width: 0;
      height: 0;
      overflow: hidden;
  }
}