*{
    box-sizing: border-box;
}
html{
    height: 100vh;
}
body{
    min-height: 100%; 
    margin: 0 20px;
}

#menu {
    position: relative;
    top: 150px;
    display: flex;
    justify-content: center; 
    align-items: center;

}

#start {
    font-size: 30px;
    width: 500px;
    height: 300px;
    transition-duration: 0.3s;
    background-color: white;
}

#start:hover{
    background-color: #4CAF50;
    color: white;
    cursor: not-allowed;
}

#questionnumber {
    font-size: 30px;
    color: red;   
    /* display: flex; */
    text-align: left;
    display: inline-block;
}

#question {
    text-transform: uppercase;
    color: orange;
    font-family: "Segoe Script";
    display: flex;
    text-align: center;
}


/* #pglayout  */
#root {
    display:flex;
    position: relative;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

#Ansboxes {
    width: 100%;
}

.Ansbox {
    width: 100%;
    height: 100px;
    color: red;   
    font-size: 30px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    border: 1.5px solid #4CAF50;    
    cursor: not-allowed;
    background-color: lightgray;
}

.layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#lives {
    font-size: 30px;
    color: red;   
    /* text-align: left; */
    display: inline-block;
    margin: 0;
    /* justify-content: flex-start; */
    left: 30px;
}

#skips {
    font-size: 30px;
    color: red;   
    cursor: pointer;
    margin: 0;
    right: 30px;
}

.footer-container{
    min-width: 95%;
    position: absolute;
    top: 95%;
    display: flex;
    justify-content: space-between;
}

/* #lives {
  position: relative;
  display: inline-block;
  cursor: pointer;
} */

#lives .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

#lives .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

#lives .show {
    visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}