body{
    margin: 0px;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: 1520.200px 900.875px; */
    background-size: cover;
}
/* #quiz{
    width: 100%;
    height: 650px;
    background-position: center;
} */